<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension point="org.knime.workbench.repository.categories">
    <category
      path="/"
      level-id="datacraft-labs"
      name="DataCraft Labs"
      icon="icons/excelformreader.png"
      after="org.knime.base"/>
    <category
      path="/datacraft-labs"
      level-id="io"
      name="IO"
      icon="icons/excelformreader.png"
      after=""/>
  </extension>

  <extension point="org.knime.workbench.repository.nodes">
    <node
      factory-class="org.geki.knime.excelformreader.ExcelFormReaderNodeFactory"
      category-path="/datacraft-labs/io"
      after=""/>
  </extension>
</plugin>
